<div class="banner-container">
    <mat-grid-list [cols]="banner.cols" rowHeight="1080:1350" [gutterSize]="banner.gutterSize">
        <mat-grid-tile class="mat-elevation-z24" matRipple *ngFor="let tile of banner.tiles">
            <mat-grid-tile-header *ngIf="tile.header ">
                {{ tile.header}}
            </mat-grid-tile-header>
            <img *ngIf="tile.media" [src]="tile.img" [alt]="tile.alt_img" (click)="openBottomSheet(tile.media)">
            <img *ngIf="tile.link" [src]="tile.img" [alt]="tile.alt_img" (click)="goToResource(tile.link)">
            <mat-grid-tile-footer *ngIf="tile.footer">
                {{ tile.footer}}
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</div>