<div class="banner-container">
    <mat-grid-list [cols]="banner.cols" [rowHeight]="banner.rowHeight" [gutterSize]="banner.gutterSize">
        <mat-grid-tile class="mat-elevation-z24" matRipple *ngFor="let tile of banner.tiles">
            <mat-grid-tile-header *ngIf="tile.header ">
                {{ tile.header}}
            </mat-grid-tile-header>
            <img [src]="tile.img" [alt]="tile.alt_img" (click)="openSnackbar(tile.media)">
            <mat-grid-tile-footer *ngIf="tile.footer">
                {{ tile.footer}}
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</div>