* {
    font-family: "Roboto";
    font-style: normal;
}

.tile-card {
    position: relative;
    width: 78%;
    margin: auto;
    border-radius: 12px;
    margin-bottom: 4.5em;
}

.mat-card-subtitle {
    padding-bottom: 0.4em;
}