* {
    font-family: "Roboto";
    font-style: normal;
}

.container {
    position: relative;
    width: 87.5%;
    margin: auto;
    border-radius: 12px;
}


/* .mat-card-header-text {
    width: 100% !important;
} */

@media only screen and (max-width: 350px) {
    /* For mobile phones: */
    .container {
        position: relative;
        width: 93%;
        margin: auto;
        border-radius: 12px;
    }
}

.top {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding-bottom: 0;
}

.mat-grid-tile {
    padding: 0;
    border: 0;
}

.mat-grid-list {
    padding: 0;
    border: 0;
}

.bottom {
    margin-bottom: 5em;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}


/* .mat-card-title {
    padding: auto;
} */

.tile-img {
    object-fit: cover;
    height: auto;
    width: 100%;
}

.avatar {
    width: 43px;
    height: 43px;
}