<div class="tile-container mat-elevation-z24">
    <mat-card class="top">
        <mat-card-header>
            <img mat-card-avatar class="avatar " [src]="cardAvatar " [alt]="imgalt" style="margin-bottom: 1em;">

            <mat-card-title style="padding-top: 0.5em; ">{{ nickname }}</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>

        <!-- <div>
                        <div mat-card-avatar>
                            <img style="padding-bottom: 0.8em; " class="avatar " [src]="cardAvatar " [alt]="imgalt ">
                        </div>
                        <mat-card-title>
                            <span style="padding-bottom: 10px; font-size: 20px; ">{{ nickname }}</span>
                        </mat-card-title>
                    </div> -->


        <!-- <div mat-card-avatar>
                        <img mat-card-avatar [src]="cardAvatar " [alt]="imgalt ">
                    </div>
                    <mat-card-title>{{nickname}}</mat-card-title> -->
        <!-- <mat-card-subtitle>{{title}}</mat-card-subtitle> -->
        <!-- </mat-card-header> -->
    </mat-card>


    <mat-grid-list matRipple cols="1 " [rowHeight]="ratio ">
        <mat-grid-tile>
            <img class="tile-img " [src]="img " [alt]="altimg " (click)="watchVideo()">
        </mat-grid-tile>
    </mat-grid-list>

    <!-- <mat-card-content> -->
    <!-- </mat-card-content> -->
    <mat-card class="bottom ">
        <mat-card-actions>
            <div style="margin-bottom: 0.8em; text-align: center; ">
                <button mat-button (click)="watchVideo()">СМОТРЕТЬ</button>
                <button mat-button (click)="readArticle()">ЧИТАТЬ</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>