    /* .musicCover {
        object-fit: cover;
        height: 100%;
        width: 100%;
    } */
    
    .clodegena_iframe .thumb {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: auto;
        -webkit-filter: brightness(.8);
    }
    
    .clodegena_iframe .thumb:hover {
        transform: scale(1.3);
        transition: all 1s cubic-bezier(0.71, 0.15, 0.37, 0.82);
    }
    
    .relsponsive_iframe {
        position: relative;
        padding-bottom: 65.25%;
        padding-top: 30px;
        height: 0;
        -webkit-overflow-scrolling: touch;
    }
    
    .responsivep_iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }