#wm-logo {
    padding-top: 0.4rem;
    width: 2.9rem;
    height: 2.9rem;
    padding-right: 0.5em;
}


/* .listitems {
    margin: 15px 0;
} */


/* ПРИ ПОМОЩИ Z-INDEX'A БАР ДЕРЖИТСЯ НАВЕРХУ, А НЕ ПРЯЧЕТСЯ ПОД СКРОЛЛОМ */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
}

.navbar-controls {
    justify-content: flex-end;
}

.mat-menu-panel {
    background-color: blueviolet !important;
}