<!-- HEADER -->
<app-article-header4 *ngIf="section.type === 'header'" [headerImage]="section.headerImage" [headerText]="section.headerText"></app-article-header4>

<!-- BANNER -->
<app-article-banner4 *ngIf="section.type === 'banner'" [banner]="section.banner"></app-article-banner4>

<!-- LAZY BANNER -->
<app-article-lazy-banner4 *ngIf="section.type === 'lazy-banner'" [banner]="section.banner"></app-article-lazy-banner4>

<!-- TEXT -->
<app-article-text4 *ngIf="section.type === 'text'" [articleText]="section.articleText"></app-article-text4>

<!-- VIDEO -->
<app-article-video4 *ngIf="section.type === 'video'" [videoCoverUrl]="section.videoCoverUrl" [videoId]="section.videoId"></app-article-video4>

<!-- MUSIC -->
<app-article-music4 *ngIf="section.type === 'music'" [trackId]="section.trackId" [musicCoverUrl]="section.musicCoverUrl"></app-article-music4>

<!-- PICTURE -->
<app-article-picture4 *ngIf="section.type === 'picture'" [picture]="section.picture"></app-article-picture4>

<!-- LAZY PICTURE -->
<app-article-lazy-picture4 *ngIf="section.type === 'lazy-picture'" [picture]="section.picture"></app-article-lazy-picture4>

<!-- CAROUSEL -->
<app-article-carousel4 *ngIf="section.type === 'carousel'" [carousel]="section.carousel"></app-article-carousel4>