<!-- HEADER -->
<app-article-header3 *ngIf="section.type === 'header'" [headerImage]="section.headerImage" [headerText]="section.headerText"></app-article-header3>

<!-- BANNER -->
<app-article-banner3 *ngIf="section.type === 'banner'" [banner]="section.banner"></app-article-banner3>

<!-- LAZY BANNER -->
<app-article-lazy-banner3 *ngIf="section.type === 'lazy-banner'" [banner]="section.banner"></app-article-lazy-banner3>

<!-- TEXT -->
<app-article-text3 *ngIf="section.type === 'text'" [articleText]="section.articleText"></app-article-text3>

<!-- VIDEO -->
<app-article-video3 *ngIf="section.type === 'video'" [videoCoverUrl]="section.videoCoverUrl" [videoId]="section.videoId"></app-article-video3>

<!-- MUSIC -->
<app-article-music3 *ngIf="section.type === 'music'" [trackId]="section.trackId" [musicCoverUrl]="section.musicCoverUrl"></app-article-music3>

<!-- PICTURE -->
<app-article-picture3 *ngIf="section.type === 'picture'" [picture]="section.picture"></app-article-picture3>

<!-- LAZY PICTURE -->
<app-article-lazy-picture3 *ngIf="section.type === 'lazy-picture'" [picture]="section.picture"></app-article-lazy-picture3>