<!-- RIBBON-HEADER -->
<app-ribbon-header *ngIf="section.type === 'ribbon-header'" [header]="section.header"></app-ribbon-header>

<!-- TEXT -->
<app-ribbon-text *ngIf="section.type === 'text'" [articleText]="section.articleText"></app-ribbon-text>

<!-- TILES -->
<app-ribbon-tiles *ngIf="section.type === 'tiles'" [tiles]="section.tiles"></app-ribbon-tiles>

<!-- LAZY TILES -->
<app-ribbon-lazy-tiles *ngIf="section.type === 'lazy-tiles'" [tiles]="section.tiles"></app-ribbon-lazy-tiles>

<!-- BANNER -->
<app-ribbon-banner *ngIf="section.type === 'banner'" [banner]="section.banner"></app-ribbon-banner>

<!-- LAZY BANNER -->
<app-ribbon-lazy-banner *ngIf="section.type === 'lazy-banner'" [banner]="section.banner"></app-ribbon-lazy-banner>

<!-- PICTURE -->
<app-ribbon-picture *ngIf="section.type === 'picture'" [picture]="section.picture"></app-ribbon-picture>

<!-- LAZY PICTURE -->
<app-ribbon-lazy-picture *ngIf="section.type === 'lazy-picture'" [picture]="section.picture"></app-ribbon-lazy-picture>