<!-- HEADER -->
<app-article-header *ngIf="section.type === 'header'" [headerImage]="section.headerImage" [headerText]="section.headerText"></app-article-header>

<!-- BANNER -->
<app-article-banner *ngIf="section.type === 'banner'" [banner]="section.banner"></app-article-banner>

<!-- LAZY BANNER -->
<app-article-lazy-banner *ngIf="section.type === 'lazy-banner'" [banner]="section.banner"></app-article-lazy-banner>

<!-- TEXT -->
<app-article-text *ngIf="section.type === 'text'" [articleText]="section.articleText"></app-article-text>

<!-- VIDEO -->
<app-article-video *ngIf="section.type === 'video'" [videoCoverUrl]="section.videoCoverUrl" [video_id]="section.video_id"></app-article-video>

<!-- MUSIC -->
<app-article-music *ngIf="section.type === 'music'" [trackId]="section.trackId" [musicCoverUrl]="section.musicCoverUrl"></app-article-music>

<!-- PICTURE -->
<app-article-picture *ngIf="section.type === 'picture'" [picture]="section.picture"></app-article-picture>

<!-- LAZY PICTURE -->
<app-article-lazy-picture *ngIf="section.type === 'lazy-picture'" [picture]="section.picture"></app-article-lazy-picture>