.container {
    position: absolute;
    width: 90%;
    height: auto;
    margin: 5%;
    border-radius: 12px;
    margin-top: 5em;
}

@media only screen and (max-width: 350px) {
    /* For mobile phones: */
    .container {
        position: absolute;
        width: 93%;
        margin: 3.5%;
        border-radius: 12px;
        margin-top: 5em;
    }
}

.top {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding-bottom: 0;
}

.bottom {
    /* margin-bottom: 6em; */
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.tile-img {
    object-fit: cover;
    height: auto;
    width: 100%;
}

.avatar {
    width: 43px;
    height: 43px;
}

* {
    font-family: "Roboto";
    font-style: normal;
}