/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    /* font-family: 'Caviar Dreams', "Roboto", sans-serif;
    font-style: normal; */
}

* {
    font-family: 'Caviar Dreams', "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

a {
    text-decoration: none;
}

img.ng-lazyloaded {
    animation: fadein .5s;
}


/* SHORT FADEIN */

.fadein {
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* LONG FADEIN */

.long-fadein {
    -webkit-animation: fadein 2000ms;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2000ms;
    /* Firefox < 16 */
    -ms-animation: fadein 2000ms;
    /* Internet Explorer */
    -o-animation: fadein 2000ms;
    /* Opera < 12.1 */
    animation: fadein 2000ms;
}

@keyframes long-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes long-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes long-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes long-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}