<div class="lazy-tile-container mat-elevation-z24">
    <mat-card class="top">
        <mat-card-header>
            <!-- IMAGE HEADER -->
            <img mat-card-avatar class="avatar " [src]="cardAvatar " [alt]="imgalt" style="margin-bottom: 1em;">

            <mat-card-title style="padding-top: 0.5em; ">{{ nickname }}</mat-card-title>
        </mat-card-header>
    </mat-card>


    <mat-grid-list matRipple cols="1 " [rowHeight]="ratio ">
        <mat-grid-tile>

            <!-- LAZY IMAGE BODY -->
            <!-- <app-lazy-image (click)="watchVideo()" [defaultImage]="'../../assets/img/default.jpg'" [image]="img" style="margin-bottom: 1em"></app-lazy-image> -->
            <img [lazyLoad]="img" [defaultImage]="'../../assets/img/default.jpg'" [alt]="altimg " (click)="watchVideo()" offset="200">
        </mat-grid-tile>
    </mat-grid-list>

    <!-- <mat-card-content> -->
    <!-- </mat-card-content> -->
    <mat-card class="bottom ">
        <mat-card-actions>
            <div style="margin-bottom: 0.8em; text-align: center; ">
                <button mat-button (click)="watchVideo()">СМОТРЕТЬ</button>
                <button mat-button (click)="readArticle()">ЧИТАТЬ</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>