.container {
    padding-top: 5rem;
    width: 92%;
    margin: auto auto;
    height: 80%;
}

.top {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.bottom {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

iframe {
    width: 100%;
    height: 330px;
    background-color: black;
}

@media only screen and (max-width: 350px) {
    /* For mobile phones: */
    iframe {
        /* width: 100%; */
        height: 280px;
    }
    .container {
        padding-top: 4rem;
        /* width: 92%;
        margin: auto auto;
        height: 80%; */
    }
}

#parent {
    font-size: 0;
}

#parent>* {
    margin: 0;
    font-size: 16px;
}

.control {
    width: 40px;
    height: 40px;
}

.timer {
    font-family: "Roboto";
    font-style: normal;
    font-size: 16px;
    padding-left: 1em;
}


/* :host /deep/.mat-progress-spinner circle, */

:host /deep/.mat-spinner circle {
    stroke: white;
}

.logo {
    width: 150px;
    height: 150px;
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

.video-card {
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}